In [194]:
!pip3 install arcgis
!pip3 install arcpy

from arcgis.gis import GIS
from IPython.display import display
import numpy as np

Requirement already satisfied: arcgis in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.9.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (1.16.0)
Requirement already satisfied: ipywidgets>=7 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (7.6.5)
Requirement already satisfied: widgetsnbextension>=3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (3.5.1)
Requirement already satisfied: pandas>=1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (1.3.3)
Requirement already satisfied: numpy>=1.16.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (1.21.2)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (3.4.3)
Requirement already satisfied: keyring>=19 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (23.2.1)
Requirement already satisfied: lerc in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (0.1.0)
Requirement already satisfied: ujson>=3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (4.2.0)
Requirement already satisfied: jupyterlab in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (3.1.14)
Requirement already satisfied: python-certifi-win32 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (1.6)
Requirement already satisfied: pyshp>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (2.1.3)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (2.26.0)
Requirement already satisfied: requests-oauthlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (1.3.0)
Requirement already satisfied: requests_toolbelt in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (0.9.1)
Requirement already satisfied: requests_ntlm in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from arcgis) (1.1.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (6.4.1)
Requirement already satisfied: nbformat>=4.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (5.1.3)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (5.1.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (1.0.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (7.28.0)
Requirement already satisfied: notebook>=4.4.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from widgetsnbextension>=3->arcgis) (6.4.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=1->arcgis) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=1->arcgis) (2021.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->arcgis) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->arcgis) (8.3.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->arcgis) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->arcgis) (1.3.2)
Requirement already satisfied: importlib-metadata>=3.6 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from keyring>=19->arcgis) (4.8.1)
Requirement already satisfied: jinja2>=2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (3.0.1)
Requirement already satisfied: nbclassic~=0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (0.3.2)
Requirement already satisfied: jupyterlab-server~=2.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (2.8.2)
Requirement already satisfied: jupyter-server~=1.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (1.11.0)
Requirement already satisfied: jupyter-core in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (4.8.1)
Requirement already satisfied: tornado>=6.1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (6.1)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab->arcgis) (21.0)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-certifi-win32->arcgis) (2021.5.30)
Requirement already satisfied: setuptools-scm in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-certifi-win32->arcgis) (6.3.2)
Requirement already satisfied: wrapt>=1.10.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-certifi-win32->arcgis) (1.12.1)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->arcgis) (2.0.6)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->arcgis) (3.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->arcgis) (1.26.7)
Requirement already satisfied: oauthlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests-oauthlib->arcgis) (3.1.1)
Requirement already satisfied: cryptography>=1.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests_ntlm->arcgis) (35.0.0)
Requirement already satisfied: ntlm-auth>=1.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests_ntlm->arcgis) (1.5.0)
Requirement already satisfied: jupyter-client<8.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7->arcgis) (7.0.5)
Requirement already satisfied: appnope; platform_system == "Darwin" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7->arcgis) (0.1.2)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7->arcgis) (0.1.3)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7->arcgis) (1.4.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7->arcgis) (4.0.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (3.0.20)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.18.0)
Requirement already satisfied: backcall in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (41.2.0)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (5.1.0)
Requirement already satisfied: pygments in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (2.10.0)
Requirement already satisfied: pickleshare in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.7.5)
Requirement already satisfied: Send2Trash>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (1.8.0)
Requirement already satisfied: prometheus-client in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.11.0)
Requirement already satisfied: argon2-cffi in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (21.1.0)
Requirement already satisfied: terminado>=0.8.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.12.1)
Requirement already satisfied: nbconvert in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (6.2.0)
Requirement already satisfied: pyzmq>=17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (22.3.0)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from importlib-metadata>=3.6->keyring>=19->arcgis) (3.6.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jinja2>=2.1->jupyterlab->arcgis) (2.0.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab-server~=2.3->jupyterlab->arcgis) (0.3)
Requirement already satisfied: babel in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab-server~=2.3->jupyterlab->arcgis) (2.9.1)
Requirement already satisfied: json5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyterlab-server~=2.3->jupyterlab->arcgis) (0.9.6)
Requirement already satisfied: anyio<4,>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyter-server~=1.4->jupyterlab->arcgis) (3.3.2)
Requirement already satisfied: websocket-client in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyter-server~=1.4->jupyterlab->arcgis) (1.2.1)
Requirement already satisfied: requests-unixsocket in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyter-server~=1.4->jupyterlab->arcgis) (0.2.0)
Requirement already satisfied: tomli>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from setuptools-scm->python-certifi-win32->arcgis) (1.2.1)
Requirement already satisfied: cffi>=1.12 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cryptography>=1.3->requests_ntlm->arcgis) (1.14.6)
Requirement already satisfied: nest-asyncio>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7->arcgis) (1.5.1)
Requirement already satisfied: attrs>=17.4.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7->arcgis) (20.3.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7->arcgis) (0.18.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.7.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jedi>=0.16->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.8.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.8.4)
Requirement already satisfied: defusedxml in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.7.1)
Requirement already satisfied: bleach in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (1.5.0)
Requirement already satisfied: jupyterlab-pygments in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.5.4)
Requirement already satisfied: testpath in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.5.0)
Requirement already satisfied: sniffio>=1.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab->arcgis) (1.2.0)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=1.3->requests_ntlm->arcgis) (2.20)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.5.1)
WARNING: You are using pip version 19.2.3, however version 21.2.4 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting arcpy
  ERROR: Could not find a version that satisfies the requirement arcpy (from versions: none)
ERROR: No matching distribution found for arcpy
WARNING: You are using pip version 19.2.3, however version 21.2.4 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [195]:
# !jupyter nbextension install --py --sys-prefix arcgis

In [196]:

gis = GIS(username="AkshajC", password="AkshuLoves207")

In [197]:
map1 = gis.map("Los Angeles CA")
map1

MapView(layout=Layout(height='400px', width='100%'))

In [198]:
items = gis.content.search('Los Angeles Transit')

In [199]:
items

[<Item title:"Mapping The Green Book in New York City " type:StoryMap owner:SkyeLam>,
 <Item title:"Homeless Count by Council District - 2019" type:Feature Layer Collection owner:nathan@lahsa>,
 <Item title:"Downtown Los Angeles Transit Atlas" type:Web Mapping Application owner:JenniferBell_UO>,
 <Item title:"Los Angeles Transit Stops" type:Feature Layer Collection owner:JenniferBell_UO>,
 <Item title:"Transit Frequency in Los Angeles" type:Web Map owner:JenniferBell_UO>,
 <Item title:"Final Project: A History of Agriculture_Beal_Bruguera_Jenkins" type:Web Map owner:oliviacjenkins16>,
 <Item title:"Transit Frequency in Los Angeles" type:Web Mapping Application owner:JenniferBell_UO>,
 <Item title:"InSite Los Angeles bench locations_March2020" type:Web Map owner:kay.sasaki_lahub_LADOT>,
 <Item title:"TOC_Mar2021" type:Vector Tile Layer owner:charles.s.lee>,
 <Item title:"Current traffic conditions in Los Angeles" type:Web Map owner:sud383_PennStateGIS>]

In [200]:
map1.add_layer(items[3])

In [201]:
map1

MapView(layout=Layout(height='400px', width='100%'))

In [202]:
import pandas as pd
import matplotlib.pyplot as plt
!pip3 install seaborn
import seaborn as sns

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from seaborn) (1.21.2)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from seaborn) (1.3.3)
Requirement already satisfied: scipy>=1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from seaborn) (1.7.1)
Requirement already satisfied: matplotlib>=2.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from seaborn) (3.4.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.3.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.16.0)
WARNING: You are using pip version 19.2.3, however version 21.2.4 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [203]:
s = gis.content.search("title: Los Angeles", "Feature Layer")
s

[<Item title:"Los Angeles Transit Stops" type:Feature Layer Collection owner:JenniferBell_UO>,
 <Item title:"Los Angeles COVID-19: Cases and Vaccinations" type:Feature Layer Collection owner:prestonamills_lahub>,
 <Item title:"City of Los Angeles: CD9 Existing No Current Bin" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"Los Angeles Reseda Other" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"City of Los Angeles: CD1 Broadway Existing Waste Footprint" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"City of Los Angeles Parks Grand Ave Existing Waste Layer" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"City of Los Angeles Central Avenue City Bin" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"Los Angeles Reseda Leave as Is Layer" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"City of Los Angeles Van Nuys No Current Bin Layer" type:Feature Layer Collection owner:Hgay@bigbelly.com>,
 <Item title:"Los Angeles Venice Boulevard No Current Bin" type:Feature Layer Collection owner:Hgay@bigbelly.com>]

In [204]:
s[0]

In [205]:
feature_transit_stops = s[0].layers[0].query(where="1 = 1")
transit_stops_df = feature_transit_stops.sdf

In [206]:
transit_stops_df.head()

,OBJECTID,stop_id,stop_name,stop_lat,stop_lon,NumTrips7_9,NumTripsPerHr7_9,MaxWaitTime7_9,NumTrips11_1,NumTripsPerHr11_1,...,NHSPOTH_CY,NHSPPI_CY,NHSPASN_CY,NHSPAI_CY,NHSPBLK_CY,NHSPWHT_CY,PercentEmployed,PercentMinority,PercentSeniors,SHAPE
0,1,1,Paramount / Slauson,33.973248,-118.113113,4,2.0,40.0,3,1.5,...,1,0,3,1,1,11,44.9275,94.6859,10.1449,"{""x"": -13148291.5952, ""y"": 4025210.4514999986,..."
1,2,3,Jefferson / 10th,34.025471,-118.3284,7,3.5,25.0,4,2.0,...,17,1,111,4,864,54,42.1234,98.1385,9.2726,"{""x"": -13172257.2344, ""y"": 4032222.6721, ""spat..."
2,3,6,120th / Augustus F Hawkins,33.924698,-118.242218,10,5.0,24.0,8,4.0,...,0,0,0,0,92,1,43.5754,99.4413,6.7039,"{""x"": -13162663.498, ""y"": 4018695.283500001, ""..."
3,4,7,120th / Martin Luther King Hospital,33.924503,-118.240372,10,5.0,25.0,8,4.0,...,1,0,1,1,130,4,40.1215,98.7841,8.5106,"{""x"": -13162458.0022, ""y"": 4018669.1230000034,..."
4,5,8,120th / Crenshaw,33.923817,-118.326889,2,1.0,68.0,0,0.0,...,0,0,2,0,71,2,39.5522,98.5074,14.1791,"{""x"": -13172089.0306, ""y"": 4018577.092, ""spati..."

In [207]:
gis_search_2 = gis.content.search("title: Vehicle Accidents in the City of Los Angeles__WFL1", "Feature Layer")
gis_search_2

[<Item title:"Vehicle Accidents in the City of Los Angeles_WFL1" type:Feature Layer Collection owner:017492421_CSULB>,
 <Item title:"Vehicle Accidents in the City of Los Angeles__WFL1" type:Feature Layer Collection owner:017492421_CSULB>]

In [208]:
feature_layer_accidents = gis_search_2[0].layers
feature_layer_accidents

[<FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/0">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/1">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/2">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/3">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/4">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/5">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/6">,
 <FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/7">]

In [209]:
male_feature_layer = gis_search_2[0].layers[1]
print(male_feature_layer)
female_feature_layer = gis_search_2[0].layers[2]
print(female_feature_layer)

<FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/1">
<FeatureLayer url:"https://services3.arcgis.com/vq5vGR4r1YX7ueLg/arcgis/rest/services/Vehicle_Accidents_in_the_City_of_Los_Angeles_WFL1/FeatureServer/2">

In [210]:
male_traffic_accidents_query = male_feature_layer.query(where="1 = 1")
male_traffic_accidents_df = male_traffic_accidents_query.sdf
male_traffic_accidents_df.head()

,OBJECTID,pid,date_reported,date_occurred,time_occurred,area_name,crime_code_description,victim_age,victim_sex,premise_description,address,county,cross_street,latitude,longitude,SHAPE
0,1,201317890,2020-10-02,2020-10-02,2340,Newton,TRAFFIC COLLISION,21.0,F,Street,S Broadway,Los Angeles,W 54Th St,33.9933,-118.2783,"{""x"": -13166680.127941752, ""y"": 4027902.415314..."
1,2,201317881,2020-10-02,2020-10-02,2305,Newton,TRAFFIC COLLISION,29.0,F,Street,100 E 53Rd St,Los Angeles,None,33.9942,-118.2740,"{""x"": -13166201.454119964, ""y"": 4028023.254443..."
2,3,201317826,2020-10-02,2020-10-02,1235,Newton,TRAFFIC COLLISION,41.0,F,Street,Central,Los Angeles,52Nd,33.9960,-118.2565,"{""x"": -13164253.363022216, ""y"": 4028264.936538..."
3,4,200413392,2020-10-02,2020-10-02,1150,Hollenbeck,TRAFFIC COLLISION,66.0,F,Street,S Soto St,Los Angeles,Inez St,34.0375,-118.2138,"{""x"": -13159500.02071923, ""y"": 4033838.4720754..."
4,5,200413366,2020-10-02,2020-10-02,705,Hollenbeck,TRAFFIC COLLISION,21.0,F,Street,Soto,Los Angeles,Olympic,34.0240,-118.2198,"{""x"": -13160167.937685424, ""y"": 4032025.095200..."

In [211]:
female_traffic_accidents_query = female_feature_layer.query(where="1 = 1")
female_traffic_accidents_df = female_traffic_accidents_query.sdf
female_traffic_accidents_df.head()

,OBJECTID,pid,date_reported,date_occurred,time_occurred,area_name,crime_code_description,victim_age,victim_sex,premise_description,address,county,cross_street,latitude,longitude,SHAPE
0,1,200413393,2020-10-02,2020-10-02,905,Hollenbeck,TRAFFIC COLLISION,28.0,M,Street,N Huntington D,Los Angeles,Kendall St,34.0949,-118.1645,"{""x"": -13154011.969861683, ""y"": 4041551.906767..."
1,2,201317939,2020-10-02,2020-10-02,2255,Newton,TRAFFIC COLLISION,56.0,M,Street,Main,Los Angeles,33Rd St,34.0195,-118.2721,"{""x"": -13165989.947036294, ""y"": 4031420.700385..."
2,3,201317918,2020-10-02,2020-10-02,300,Newton,TRAFFIC COLLISION,19.0,M,Street,200 W Gage Av,Los Angeles,None,33.9824,-118.2774,"{""x"": -13166579.940303892, ""y"": 4026439.020931..."
3,4,201317917,2020-10-02,2020-10-02,1630,Newton,TRAFFIC COLLISION,19.0,M,Street,Central Av,Los Angeles,59Th St,33.9873,-118.2565,"{""x"": -13164253.362990139, ""y"": 4027096.853866..."
4,5,201317916,2020-10-02,2020-10-02,1900,Newton,TRAFFIC COLLISION,19.0,M,Street,Trinity St,Los Angeles,31St St,34.0186,-118.2657,"{""x"": -13165277.502318485, ""y"": 4031299.825198..."

In [212]:
traffic_accidents_frames = [male_traffic_accidents_df, female_traffic_accidents_df]
traffic_accidents_df = pd.concat(traffic_accidents_frames)

In [213]:
traffic_accidents_df.head()

,OBJECTID,pid,date_reported,date_occurred,time_occurred,area_name,crime_code_description,victim_age,victim_sex,premise_description,address,county,cross_street,latitude,longitude,SHAPE
0,1,201317890,2020-10-02,2020-10-02,2340,Newton,TRAFFIC COLLISION,21.0,F,Street,S Broadway,Los Angeles,W 54Th St,33.9933,-118.2783,"{""x"": -13166680.127941752, ""y"": 4027902.415314..."
1,2,201317881,2020-10-02,2020-10-02,2305,Newton,TRAFFIC COLLISION,29.0,F,Street,100 E 53Rd St,Los Angeles,None,33.9942,-118.2740,"{""x"": -13166201.454119964, ""y"": 4028023.254443..."
2,3,201317826,2020-10-02,2020-10-02,1235,Newton,TRAFFIC COLLISION,41.0,F,Street,Central,Los Angeles,52Nd,33.9960,-118.2565,"{""x"": -13164253.363022216, ""y"": 4028264.936538..."
3,4,200413392,2020-10-02,2020-10-02,1150,Hollenbeck,TRAFFIC COLLISION,66.0,F,Street,S Soto St,Los Angeles,Inez St,34.0375,-118.2138,"{""x"": -13159500.02071923, ""y"": 4033838.4720754..."
4,5,200413366,2020-10-02,2020-10-02,705,Hollenbeck,TRAFFIC COLLISION,21.0,F,Street,Soto,Los Angeles,Olympic,34.0240,-118.2198,"{""x"": -13160167.937685424, ""y"": 4032025.095200..."

In [214]:
traffic_counts_search = gis.content.search("Los Angeles Traffic Counts")
traffic_counts_search

[<Item title:"TblTransportation" type:Table Layer owner:timothy.black_ladot>,
 <Item title:"Traffic Counts" type:Feature Layer Collection owner:lahub_admin>,
 <Item title:"Los Angeles Traffic Counts" type:Web Map owner:SuperSak>,
 <Item title:"Traffic Counts" type:Web Map owner:agodwin23>,
 <Item title:"LA Equity Index" type:Feature Layer Collection owner:controller.galperin_lacontroller>,
 <Item title:"LA Metro Traffic Counts" type:Feature Layer Collection owner:EsriMedia>,
 <Item title:"2018 USA Traffic Counts Los angeles" type:Feature Layer Collection owner:AlghamdiTaghreed>]

In [216]:
traffic_counts_layers = traffic_counts_search[1].layers
traffic_counts_layers

In [217]:
query_traffic_counts = traffic_counts_layers[0].query(where="1 = 1")

traffic_counts_df = query_traffic_counts.sdf
traffic_counts_df.head()

,OBJECTID,ASSETID,ID,Location,TOOLTIP,NLA_URL,SHAPE
0,1,200,8469,39TH PL AT ST ANDREWS PL,39TH PL AT ST ANDREWS PL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13170088.570377056, 4030644.3897..."
1,2,205,9287,24TH ST AT GRIFFITH AV,24TH ST AT GRIFFITH AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13164457.203496447, 4031812.3085..."
2,3,218,9044,52ND ST AT WESTERN AV,52ND ST AT WESTERN AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13170090.816937232, 4028141.2893..."
3,4,229,11085,OLYMPIC BL AT LA CIENEGA BL,OLYMPIC BL AT LA CIENEGA BL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13177532.620401442, 4036793.4917..."
4,5,230,11333,ROBERTSON BL AT GUTHRIE AV,ROBERTSON BL AT GUTHRIE AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13178815.069553304, 4034481.5228..."

In [218]:
traffic_counts_df.isnull().sum()

OBJECTID    0
ASSETID     0
ID          0
Location    0
TOOLTIP     0
NLA_URL     0
SHAPE       0
dtype: int64

In [219]:
traffic_accidents_df.isnull().sum()

OBJECTID                    0
pid                         0
date_reported               0
date_occurred               0
time_occurred               0
area_name                   0
crime_code_description      0
victim_age                134
victim_sex                  0
premise_description         0
address                     0
county                      0
cross_street              264
latitude                    0
longitude                   0
SHAPE                       0
dtype: int64

In [220]:
traffic_accidents_df.shape

(2990, 16)

In [221]:
traffic_accidents_df = traffic_accidents_df[traffic_accidents_df["cross_street"].isnull() == False]
traffic_accidents_df = traffic_accidents_df[traffic_accidents_df["victim_age"].isnull() == False]

In [222]:
traffic_accidents_df.isnull().sum()

OBJECTID                  0
pid                       0
date_reported             0
date_occurred             0
time_occurred             0
area_name                 0
crime_code_description    0
victim_age                0
victim_sex                0
premise_description       0
address                   0
county                    0
cross_street              0
latitude                  0
longitude                 0
SHAPE                     0
dtype: int64

In [223]:
# traffic_accidents_lyr = traffic_accidents_df.spatial.to_featurelayer('Los Angeles Traffic Data', folder='traffic_accidents_df')

traffic_accidents_df.to_csv('traffic_accidents.csv')
# sdf = pd.DataFrame.spatial.from_featureclass(traffic_accidents_df)
# sdf.tail()

In [224]:
# sdf = pd.DataFrame.spatial.from_featureclass(traffic_counts_layers)
# sdf.head()
traffic_accidents_df.spatial.to_featureclass(location=r"c:\nasahackathon\traffic_accidents.shp")

'/Users/kavithachalla/c:\\nasahackathon\\traffic_accidents.shp'

In [225]:
gis.content.create_folder("traffic_data")

Folder already exists.

In [226]:
# lyr = traffic_accidents_df.spatial.to_featurelayer('traffic_accidentssy', folder='traffic_data')
# lyr

In [227]:
traffic_counts_df.to_csv('traffic_counts.csv')

In [228]:
traffic_counts_df.shape

(6820, 7)

In [229]:
traffic_counts_sample = traffic_counts_df.sample(n=1000)
traffic_counts_sample.shape

(1000, 7)

In [230]:
traffic_counts_sample.to_csv("traffic_counts_sampled.csv")

In [231]:
traffic_counts_sample.columns

Index(['OBJECTID', 'ASSETID', 'ID', 'Location', 'TOOLTIP', 'NLA_URL', 'SHAPE'], dtype='object')

In [232]:
traffic_counts_sample.head()

,OBJECTID,ASSETID,ID,Location,TOOLTIP,NLA_URL,SHAPE
3692,3693,45814,52695,SHOSHONE AV S/O SUPERIOR ST,SHOSHONE AV S/O SUPERIOR ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13193335.863367349, 4061736.5345..."
907,908,12849,14832,OLYMPIC BL AT FIGUEROA ST,OLYMPIC BL AT FIGUEROA ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13164953.516412508, 4034763.8566..."
3944,3945,48107,48237,KILLION ST AT NEWCASTLE AV,KILLION ST AT NEWCASTLE AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13193813.298190344, 4051772.0357..."
1082,1083,11707,69703,HUBBARD ST AT FOOTHILL BL,HUBBARD ST AT FOOTHILL BL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13183600.0603651, 4070160.056205..."
2677,2678,30424,24181,BURLINGAME AV AT BALTIC ST,BURLINGAME AV AT BALTIC ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13189806.703498375, 4035175.2237..."

In [233]:
# traffic_counts_sample = traffic_counts_sample.drop(columns=["NLA_URL", "TOOLTIP"])

In [234]:
traffic_counts_sample

,OBJECTID,ASSETID,ID,Location,TOOLTIP,NLA_URL,SHAPE
3692,3693,45814,52695,SHOSHONE AV S/O SUPERIOR ST,SHOSHONE AV S/O SUPERIOR ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13193335.863367349, 4061736.5345..."
907,908,12849,14832,OLYMPIC BL AT FIGUEROA ST,OLYMPIC BL AT FIGUEROA ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13164953.516412508, 4034763.8566..."
3944,3945,48107,48237,KILLION ST AT NEWCASTLE AV,KILLION ST AT NEWCASTLE AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13193813.298190344, 4051772.0357..."
1082,1083,11707,69703,HUBBARD ST AT FOOTHILL BL,HUBBARD ST AT FOOTHILL BL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13183600.0603651, 4070160.056205..."
2677,2678,30424,24181,BURLINGAME AV AT BALTIC ST,BURLINGAME AV AT BALTIC ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13189806.703498375, 4035175.2237..."
...,...,...,...,...,...,...,...
4580,4581,54232,48218,BURBANK BL AT RESEDA BL,BURBANK BL AT RESEDA BL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13195368.65011198, 4051968.46992..."
607,608,7766,10074,MAIN ST AT 47th ST,MAIN ST AT 47th ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13166199.660739556, 4029073.0975..."
80,81,333,13584,WASHINGTON BL AT BRONSON AV,WASHINGTON BL AT BRONSON AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13172407.549150802, 4034157.7305..."
6094,6095,74559,11511,LA BREA AV AT 8TH ST,LA BREA AV AT 8TH ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13174068.796235554, 4036932.2606..."
2228,2229,25779,35403,SHEFFIELD AV AT NORWICH AV,SHEFFIELD AV AT NORWICH AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13153665.305544028, 4039696.1496..."

In [235]:
traffic_counts_sample.to_csv("traffic_counts_sampled.csv")

In [236]:
traffic_accidents_df.head()

,objectid,pid,date_reported,date_occurred,time_occurred,area_name,crime_code_description,victim_age,victim_sex,premise_description,address,county,cross_street,latitude,longitude,SHAPE
0,1,201317890,2020-10-02,2020-10-02,2340,Newton,TRAFFIC COLLISION,21.0,F,Street,S Broadway,Los Angeles,W 54Th St,33.9933,-118.2783,"{""x"": -13166680.127941752, ""y"": 4027902.415314..."
1,3,201317826,2020-10-02,2020-10-02,1235,Newton,TRAFFIC COLLISION,41.0,F,Street,Central,Los Angeles,52Nd,33.9960,-118.2565,"{""x"": -13164253.363022216, ""y"": 4028264.936538..."
2,4,200413392,2020-10-02,2020-10-02,1150,Hollenbeck,TRAFFIC COLLISION,66.0,F,Street,S Soto St,Los Angeles,Inez St,34.0375,-118.2138,"{""x"": -13159500.02071923, ""y"": 4033838.4720754..."
3,5,200413366,2020-10-02,2020-10-02,705,Hollenbeck,TRAFFIC COLLISION,21.0,F,Street,Soto,Los Angeles,Olympic,34.0240,-118.2198,"{""x"": -13160167.937685424, ""y"": 4032025.095200..."
4,6,200215716,2020-10-02,2020-10-02,1835,Rampart,TRAFFIC COLLISION,48.0,F,Street,W 8Th St,Los Angeles,Westlake,34.0544,-118.2767,"{""x"": -13166502.016701084, ""y"": 4036108.958104..."

In [237]:
traffic_accidents_df.shape

(2617, 16)

In [238]:
traffic_counts_sample

,OBJECTID,ASSETID,ID,Location,TOOLTIP,NLA_URL,SHAPE
3692,3693,45814,52695,SHOSHONE AV S/O SUPERIOR ST,SHOSHONE AV S/O SUPERIOR ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13193335.863367349, 4061736.5345..."
907,908,12849,14832,OLYMPIC BL AT FIGUEROA ST,OLYMPIC BL AT FIGUEROA ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13164953.516412508, 4034763.8566..."
3944,3945,48107,48237,KILLION ST AT NEWCASTLE AV,KILLION ST AT NEWCASTLE AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13193813.298190344, 4051772.0357..."
1082,1083,11707,69703,HUBBARD ST AT FOOTHILL BL,HUBBARD ST AT FOOTHILL BL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13183600.0603651, 4070160.056205..."
2677,2678,30424,24181,BURLINGAME AV AT BALTIC ST,BURLINGAME AV AT BALTIC ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13189806.703498375, 4035175.2237..."
...,...,...,...,...,...,...,...
4580,4581,54232,48218,BURBANK BL AT RESEDA BL,BURBANK BL AT RESEDA BL,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13195368.65011198, 4051968.46992..."
607,608,7766,10074,MAIN ST AT 47th ST,MAIN ST AT 47th ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13166199.660739556, 4029073.0975..."
80,81,333,13584,WASHINGTON BL AT BRONSON AV,WASHINGTON BL AT BRONSON AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13172407.549150802, 4034157.7305..."
6094,6095,74559,11511,LA BREA AV AT 8TH ST,LA BREA AV AT 8TH ST,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13174068.796235554, 4036932.2606..."
2228,2229,25779,35403,SHEFFIELD AV AT NORWICH AV,SHEFFIELD AV AT NORWICH AV,http://navigatela.lacity.org/reports/dot_hr_tr...,"{""paths"": [[[-13153665.305544028, 4039696.1496..."

In [239]:
transit_stops_df.to_csv("transit_stops_df.csv")

In [240]:
transit_stops_df.shape

(14821, 42)

In [241]:
transit_stops_sample = transit_stops_df.sample(n=1250)
transit_stops_sample.to_csv("transit_stops_df.csv")

In [242]:
transit_stops_df.columns

Index(['OBJECTID', 'stop_id', 'stop_name', 'stop_lat', 'stop_lon',
       'NumTrips7_9', 'NumTripsPerHr7_9', 'MaxWaitTime7_9', 'NumTrips11_1',
       'NumTripsPerHr11_1', 'MaxWaitTime11_1', 'NumTrips4_6',
       'NumTripsPerHr4_6', 'MaxWaitTime4_6', 'areaType', 'bufferRadii',
       'bufferUnits', 'bufferUnitsAlias', 'ENRICH_FID', 'ID', 'sourceCountry',
       'HasData', 'aggregationMethod', 'TOTPOP', 'EMP_CY', 'MINORITYCY',
       'DIVINDX_CY', 'HISPPOP_CY', 'SENIORS_CY', 'PACSHHBPOV', 'TOTHH_CY',
       'NHSPMLT_CY', 'NHSPOTH_CY', 'NHSPPI_CY', 'NHSPASN_CY', 'NHSPAI_CY',
       'NHSPBLK_CY', 'NHSPWHT_CY', 'PercentEmployed', 'PercentMinority',
       'PercentSeniors', 'SHAPE'],
      dtype='object')

In [243]:
traffic_counts_df.columns

Index(['OBJECTID', 'ASSETID', 'ID', 'Location', 'TOOLTIP', 'NLA_URL', 'SHAPE'], dtype='object')

In [244]:
traffic_accidents_df.columns

Index(['objectid', 'pid', 'date_reported', 'date_occurred', 'time_occurred',
       'area_name', 'crime_code_description', 'victim_age', 'victim_sex',
       'premise_description', 'address', 'county', 'cross_street', 'latitude',
       'longitude', 'SHAPE'],
      dtype='object')

In [245]:
print(transit_stops_df["SHAPE"][0])

{'x': -13148291.5952, 'y': 4025210.4514999986, 'spatialReference': {'wkid': 102100, 'latestWkid': 3857}}

traffic_counts_df.head()

In [246]:
traffic_counts_df.columns

Index(['OBJECTID', 'ASSETID', 'ID', 'Location', 'TOOLTIP', 'NLA_URL', 'SHAPE'], dtype='object')

In [247]:
str(traffic_counts_df.iloc[0, -1])

"{'paths': [[[-13170088.570377056, 4030644.389715134], [-13170330.752219958, 4030644.9734515217]]], 'spatialReference': {'wkid': 102100, 'latestWkid': 3857}}"

In [248]:
str(traffic_counts_df.iloc[3, -1])

"{'paths': [[[-13177532.620401442, 4036793.4917575675], [-13177576.760046884, 4036789.7251571394]]], 'spatialReference': {'wkid': 102100, 'latestWkid': 3857}}"

In [249]:
traffic_counts_layers

In [250]:
traffic_accidents_df.head()

,objectid,pid,date_reported,date_occurred,time_occurred,area_name,crime_code_description,victim_age,victim_sex,premise_description,address,county,cross_street,latitude,longitude,SHAPE
0,1,201317890,2020-10-02,2020-10-02,2340,Newton,TRAFFIC COLLISION,21.0,F,Street,S Broadway,Los Angeles,W 54Th St,33.9933,-118.2783,"{""x"": -13166680.127941752, ""y"": 4027902.415314..."
1,3,201317826,2020-10-02,2020-10-02,1235,Newton,TRAFFIC COLLISION,41.0,F,Street,Central,Los Angeles,52Nd,33.9960,-118.2565,"{""x"": -13164253.363022216, ""y"": 4028264.936538..."
2,4,200413392,2020-10-02,2020-10-02,1150,Hollenbeck,TRAFFIC COLLISION,66.0,F,Street,S Soto St,Los Angeles,Inez St,34.0375,-118.2138,"{""x"": -13159500.02071923, ""y"": 4033838.4720754..."
3,5,200413366,2020-10-02,2020-10-02,705,Hollenbeck,TRAFFIC COLLISION,21.0,F,Street,Soto,Los Angeles,Olympic,34.0240,-118.2198,"{""x"": -13160167.937685424, ""y"": 4032025.095200..."
4,6,200215716,2020-10-02,2020-10-02,1835,Rampart,TRAFFIC COLLISION,48.0,F,Street,W 8Th St,Los Angeles,Westlake,34.0544,-118.2767,"{""x"": -13166502.016701084, ""y"": 4036108.958104..."

In [260]:
traffic_accidents_modified_df = traffic_accidents_df
traffic_accidents_modified_df["latitude"] = round(traffic_accidents_df["latitude"], 1)
traffic_accidents_modified_df["longitude"] = round(traffic_accidents_df["longitude"], 1)

In [261]:
traffic_accidents_df["latitude"]

0       34.0
1       34.0
2       34.0
3       34.0
4       34.0
        ...
2612    34.0
2613    33.7
2614    34.0
2615    33.9
2616    34.1
Name: latitude, Length: 2617, dtype: float64

In [262]:
traffic_accidents_modified_df.shape

(2617, 17)

In [268]:
traffic_accidents_modified_grouped_df = traffic_accidents_modified_df.groupby(by=["latitude", "longitude"]).agg("count").reset_index()
traffic_accidents_modified_grouped_df.head()

,latitude,longitude,objectid,pid,date_reported,date_occurred,time_occurred,area_name,crime_code_description,victim_age,victim_sex,premise_description,address,county,cross_street,SHAPE,latitude1
0,0.0,0.0,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
1,33.7,-118.3,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
2,33.8,-118.3,69,69,69,69,69,69,69,69,69,69,69,69,69,69,69
3,33.8,-118.2,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
4,33.9,-118.4,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

In [269]:
# traffic_accidents_modified_grouped_df.get_group(34)

traffic_accidents_agg = traffic_accidents_modified_grouped_df[["latitude", "longitude", "objectid"]]
traffic_accidents_agg.head()

   latitude  longitude  objectid
0       0.0        0.0         8
1      33.7     -118.3        34
2      33.8     -118.3        69
3      33.8     -118.2        10
4      33.9     -118.4        11

In [275]:
traffic_accidents_agg.shape
traffic_accidents_agg["accident_count"] = traffic_accidents_agg["objectid"]
traffic_accidents_agg.drop(columns=("objectid"))

/var/folders/t4/3f_97yd907n_p9bqv98hthdm0000gn/T/ipykernel_19251/4262538391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traffic_accidents_agg["accident_count"] = traffic_accidents_agg["objectid"]

    latitude  longitude  accident_count
0        0.0        0.0               8
1       33.7     -118.3              34
2       33.8     -118.3              69
3       33.8     -118.2              10
4       33.9     -118.4              11
5       33.9     -118.3              47
6       33.9     -118.2              26
7       34.0     -118.6               2
8       34.0     -118.5              51
9       34.0     -118.4             198
10      34.0     -118.3             676
11      34.0     -118.2             154
12      34.1     -118.5              11
13      34.1     -118.4             103
14      34.1     -118.3             294
15      34.1     -118.2             109
16      34.2     -118.6             149
17      34.2     -118.5             204
18      34.2     -118.4             313
19      34.2     -118.3               7
20      34.3     -118.6              17
21      34.3     -118.5              51
22      34.3     -118.4              61
23      34.3     -118.3              12

In [283]:
traffic_accidents_agg = traffic_accidents_agg.sort_values(by="accident_count", ascending=False)

In [284]:
traffic_accidents_agg_high_risk = traffic_accidents_agg.iloc[0:10, :]
traffic_accidents_agg_high_risk

    latitude  longitude  objectid  accident_count
10      34.0     -118.3       676             676
18      34.2     -118.4       313             313
14      34.1     -118.3       294             294
17      34.2     -118.5       204             204
9       34.0     -118.4       198             198
11      34.0     -118.2       154             154
16      34.2     -118.6       149             149
15      34.1     -118.2       109             109
13      34.1     -118.4       103             103
2       33.8     -118.3        69              69

In [285]:
traffic_accidents_agg_high_risk.to_csv("traffic_accidents_high_risk.csv")

In [ ]:
t